// ------------------------------
// var
// ------------------------------

// ---------- size ----------
$site-w-min: 320px;
$site-w-pc: 1366px;
$site-w-sp: 375px;
$breakPoint: 768px;

$header-sp: 55px;
$header-pc: 81px;

// ---------- color ----------
$color-white: #fff;
$color-black: #000;
$color-gray1: #BEC0C6;
$color-yellow1: #C0FF00;

// ---------- ease ----------
$ease-1: ease-out;