header.c-header.js-header
    h1.header-logo.header-logo--pc
            img(src="./images/common/logo.svg")
    .c-header__btn
        button.header-btn.js-header-btn
            span.header-btn__txt.header-btn__txt--menu
                | Menu
            span.header-btn__txt.header-btn__txt--close
                | Close
    .c-header__cont.header-cont
        .header-cont__head
            h1.header-logo
                img(src="./images/common/logo.svg")

        .header-cont__nav
            a(href="./#mission").header-cont__txt
                | Mission
            a(href="./#service").header-cont__txt
                | Service
            a(href="./#company").header-cont__txt
                | Company
            a(href="./#recruit").header-cont__txt
                | Recruit
            a(href="./contact").header-cont__txt
                | Contact
