extends ../../_template/_extend

block vars
    -
        var page = {
            root: '../',
            class: 'page-privacy'
        };
    -

block content
    .c-headImg.c-headImg--green
        .c-head-img__img
            img(src=page.root + "assets/images/privacy/kv.jpg")
    
    .cont
        .l-inner
            h2.c-ttl.cont__ttl
                | Privacy Policy
            .cont__wrapper
                p.cont__lead
                    | 株式会社Haul（以下「当社」といいます。）は、当社のサービス（以下「本サービス」といいます。）を利用する方（以下「利用者」といいます。）の個人情報の取扱いについて、以下のとおりプライバシーポリシー（個人情報保護方針）を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性を認識させるとともにその取組みを徹底させることにより、個人情報の保護を推進します。
                
                .cont__box
                    h3.cont__head
                        | 第 1 条（個人情報）
                    p.cont__txt
                        | 「個人情報」とは、個人情報の保護に関する法律（平成十五年法律第五十七号、以下「個人情報保護法」といいます。）にいう「個人情報」を指し、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別できるもの又は個人識別符号が含まれるものを指します。
                
                .cont__box
                    h3.cont__head
                        | 第 2 条（個人情報の取得と利用）
                    p.cont__txt
                        | 当社は、以下の目的に必要な範囲で、利用者の個人情報を取得し、取得した情報を利用さします。以下の目的の範囲を超えて個人情報を利用する場合には、事前に適切な方法で利用者からの同意を得るものとします。
                    ol.cont__list
                        li.cont__item.cont__txt
                            | 本サービスを提供又は管理するため
                        li.cont__item.cont__txt
                            | 本サービスの内容及び品質を改良・改善し、又は新サービスを開発するため
                        li.cont__item.cont__txt
                            | 本サービスの新機能、更新情報、キャンペーン等及び当社が提供する他のサービスのご案内（電子メール、チラシ、その他のダイレクトメールの送付を含む）のため
                        li.cont__item.cont__txt
                            | メンテナンス、重要なお知らせなど必要に応じたご連絡のため
                        li.cont__item.cont__txt
                            | 本サービスに関する利用者からのご意見、お問い合わせ等に回答するため（本人確認を行うことを含む）
                        li.cont__item.cont__txt
                            | 本サービスの利用状況を利用者にご報告するため
                        li.cont__item.cont__txt
                            | 本サービスに関するアンケート・取材等のご協力依頼や各種イベントへのご参加をお願いし、又はその結果などをご報告するため
                        li.cont__item.cont__txt
                            | 本サービスの利用内容又は利用履歴等を調査・分析・統計化等し、その結果を本サービスの改良・開発や広告の配信に利用し、又は関連する情報を提供するため
                        li.cont__item.cont__txt
                            | 利用者の承諾・申し込みに基づく、当社主催イベントの参加企業等への個人情報の提供
                        li.cont__item.cont__txt
                            | 利用規約に違反した利用者や、不正・不当な目的で本サービスを利用しようとする利用者の特定をし、ご利用をお断りするため
                        li.cont__item.cont__txt
                            | 個人情報に該当しない情報への加工のため
                        li.cont__item.cont__txt
                            | 第三者への個人情報の提供のため
                        
                .cont__box
                    h3.cont__head
                        | 第 3 条（個人情報の管理と保護）
                    p.cont__txt
                        | 個人情報の管理は、厳重に行うこととし、次に掲げる場合を除き、利用者の同意がない限り、第三者に対しデータを開示・提供することはいたしません。また、安全性を考慮し、個人情報への不正アクセス、個人情報の紛失、破壊、改ざん及び漏えい等のリスクに対する予防並びに是正に関する対策を講じます。
                    ol.cont__list
                        li.cont__item.cont__txt
                            | 人の生命、身体又は財産の保護のために必要がある場合であって、利用者の同意を得ることが困難である場合
                        li.cont__item.cont__txt
                            | 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、利用者の同意を得ることが困難である場合
                        li.cont__item.cont__txt
                            | 国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合
                        li.cont__item.cont__txt
                            | 業務を円滑に遂行するため、利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合
                        li.cont__item.cont__txt
                            | 合併その他の事由による事業の承継に伴って個人情報が提供される場合
                        li.cont__item.cont__txt
                            | 個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的及び当該個人情報の管理について責任を有する者の氏名又は名称について、あらかじめ利用者に通知し、又は利用者が容易に知り得る状態に置いた場合
                        li.cont__item.cont__txt
                            | その他法令で認められる場合
                
                .cont__box
                    h3.cont__head
                        | 第 4 条（個人情報の取扱いの委託）
                    p.cont__txt
                        | 当社は、利用目的の達成に必要な範囲内において、個人情報の取扱いの全部又は一部を委託する場合があります。この場合、当社は、委託先としての適格性を十分審査するとともに、契約にあたって守秘義務に関する事項等を定め、委託先に対する必要かつ適切な監督を行います。
                
                .cont__box
                    h3.cont__head
                        | 第 5 条（個人情報の開示）
                    p.cont__txt
                        | 当社は、利用者（本人に限る。本条において以下同じ）から個人情報の開示を求められたときは、利用者に対し、遅滞なくこれを開示します。但し、開示することにより次のいずれかに該当する場合は、その全部又は一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。
                    ol.cont__list
                        li.cont__item.cont__txt
                            | 利用者又は第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
                        li.cont__item.cont__txt
                            | 当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
                        li.cont__item.cont__txt
                            | その他法令に違反することとなる場合
                
                .cont__box
                    h3.cont__head
                        | 第 6 条（個人情報の訂正及び削除）
                    ol.cont__list
                        li.cont__item.cont__txt
                            | 当社の保有する個人情報が誤った情報である場合には、利用者の請求により、当社が定める手続きに従い個人情報の訂正又は削除を行います。
                        li.cont__item.cont__txt
                            | 当社は、利用者から前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正又は削除を行い、これを利用者に通知します。
                
                .cont__box
                    h3.cont__head
                        | 第 7 条（個人情報の利用停止等）
                    p.cont__txt
                        | 当社は、利用者から、以下の各号に定める場合に該当するとして、個人情報の利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、法令に従って、個人情報の利用停止等を行い、その旨利用者に通知します。但し、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、利用者の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じます。
                    ol.cont__list
                        li.cont__item.cont__txt
                            | 利用目的の範囲を超えて取り扱われている場合
                        li.cont__item.cont__txt
                            | 不正の手段により取得された個人情報である場合
                        li.cont__item.cont__txt
                            | 違法又は不当な行為を助長し、又は誘発するおそれがある方法により利用されている場合
                        li.cont__item.cont__txt
                            | 当社が利用者の個人情報を利用する必要がなくなった場合
                        li.cont__item.cont__txt
                            | 要配慮個人情報が含まれる個人情報の漏えい、滅失若しくは毀損（以下「漏えい等」といいます。）が発生し、又は発生したおそれがある場合
                        li.cont__item.cont__txt
                            | 不正に利用されることにより財産的被害が生じるおそれがある個人情報の漏えい等が発生し、又は発生したおそれがある場合
                        li.cont__item.cont__txt
                            | 不正の目的をもって行われたおそれがある個人情報の漏えい等が発生し、又は発生したおそれがある場合
                        li.cont__item.cont__txt
                            | 個人情報にかかる本人の数が千人を超える漏えい等が発生し、又は発生したおそれがある場合
                        li.cont__item.cont__txt
                            | 当該個人情報の取扱いにより利用者の権利又は正当な利益が害されるおそれがある場合

                .cont__box
                    h3.cont__head
                        | 第 8 条（プライバシーポリシーの変更手続
                    p.cont__txt
                        | 当社は本ポリシーの内容を適宜見直し、その改善に努めます。本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、変更することができるものとします。変更後のプライバシーポリシーは、当社所定の方法により、利用者に通知し、又は当社ウェブサイトに掲載したときから効力を生じるものとします。
                
                .cont__box
                    h3.cont__head
                        | 第 9 条（法令、規範の遵守）
                    p.cont__txt
                        | 当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守します。
                
                .cont__box
                    h3.cont__head
                        | 第 10 条（苦情及び相談への対応）
                    p.cont__txt
                        | 当社は、個人情報の取扱いに関する利用者からの苦情、相談を受け付け、適切かつ迅速に対応します。また、利用者からの当該個人情報の開示、訂正、追加、削除、利用又は提供の拒否などのご要望に対しても、迅速かつ適切に対応します。
                
                .cont__box
                    h3.cont__head
                        | 第 11 条（安全管理措置）
                    p.cont__txt
                        | 当社がお預かりした個人情報は、個人情報ファイルへのアクセス制限の実施及び外部からの不正アクセス防止のためのセキュリティ対策の実施等、組織的、物理的、人的、技術的施策を講じることで個人情報への不正な侵入、個人情報の紛失、破壊、改ざん、及び漏えい等を防止いたします。万一、個人情報の漏えい等の事故が発生した場合、当社は、個人情報保護法及び関連するガイドラインに則り、速やかに監督官庁への必要な報告を行うとともに、当該監督官庁の指示に従い、類似事案の発生防止措置及び再発防止措置等の必要な対応を行います。
                
                .cont__box
                    h3.cont__head
                        | 第 12 条（当社住所・代表者氏名・個人情報保護管理者）
                    p.cont__txt
                        | 当社住所、代表者および個人情報保護管理者の氏名は以下のとおりです。
                    .cont__unit
                        .cont__heading
                            | 住所
                        p.cont__info
                            | 東京都目黒区青葉台 1 丁目 14-4  CONTRAL nakameguro 003
                    .cont__unit
                        .cont__heading
                            | 代表者
                        p.cont__info
                            | 平田 拓嗣
                
                .cont__box
                    h3.cont__head
                        | 第 13 条（お問い合わせ窓口）
                    p.cont__txt
                        | 当社の個人情報の取扱に関するお問い合せは下記までご連絡ください
                    .cont__unit
                        .cont__heading
                            | 担当係
                        p.cont__info
                            | 株式会社Haul お客様対応窓口
                    .cont__unit
                        .cont__heading
                            | 住所
                        p.cont__info
                            | 〒153-0042 東京都目黒区青葉台 1 丁目 14-4  CONTRAL nakameguro 003
                    .cont__unit
                        .cont__heading
                            | Email
                        p.cont__info
                            | cs@haulinc.jp
