extends ../../_template/_extend

block vars
    -
        var page = {
            root: '../',
            class: 'page-thanks'
        };
    -

block content
    .c-headImg.c-headImg--green
        .c-headImg__wrapper
            img(src=page.root + "assets/images/contact/kv.jpg")
                
    .cont
        .l-inner
            h2.c-ttl.cont__ttl
                | Contact
            .cont__wrapper
                .cont__lead
                    | 送信完了しました
                p.cont__txt
                    | お問い合わせ頂き、誠にありがとうございます。
                    br.h-pc
                    | 担当者が確認の上、ご連絡差し上げます。今しばらくお待ちください。
                .cont__img
                    img(src=page.root + "assets/images/contact/thanks.png")
